.header {
    background-color: #2196F3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: #000;
}